<!DOCTYPE html>
<html lang="en">
  <head>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0/dist/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
  </head>
<body class="h-100">

<div class="container">
   
      <div class="container d-flex justify-content-center align-items-center" style="min-height: 75vh;">
    <div class="col-9 text-center ">
<%= form_tag('/weather_page/get_weather', method: 'get') do %>
<h2 class="col-12 text-center" for="inputEmail">What's Your Address?</h2>


         
  <%= text_field_tag 'address',nil, placeholder:  "1 Apple Park Way. Cupertino, CA 95014" %>
<div class="row mt-3 justify-content-center">
    <button class="btn btn-md btn-primary ">  <%= submit_tag 'Get Weather' %></button>
    </div>
<% end %>
   
      
      
  
     
</div>
</div>
</div>
  <footer class="fixed-bottom mt-auto bg-dark text-light text-center py-3">
    <div class="container">
      <p>&copy; 2023 Courtney Jo Zuboski's Weather App</p>
    </div>
  </footer>

</body>
<script>



  function alertError(message) {
  alert("Error: " + message);
}
</script>

</html>

